<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
    <title>口腔医院挂号预约平台</title>
    <link rel="icon" href="images/favico.ico">
    <!--不同屏幕尺寸根字体设置-->
    <script src="js/base.js"></script>
    <!--element-ui的样式-->
    <link rel="stylesheet" href="../app/plugins/element-ui/index.css" />
    <!--引入vant样式-->
    <link rel="stylesheet" href="styles/vant.min.css"/>
    <!-- 引入样式  -->
    <link rel="stylesheet" href="styles/index.css" />
    <!--本页面内容的样式-->
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <style>
    /* 父容器样式 */
    .container{
      margin:50px auto; width:180px; height:200px;
    }
    /* 子容器样式 */
    .son{
      margin-top:85px; height: 30px;margin-left: 30px;
    }
    .son1{
      margin-top:10px; height: 80px;
    }
    .son1 button{
      margin-left: 50px;margin-top: 10px;
    }
  </style>
  <body>
    <div id="main" class="app">
      <div class="divHead">
        <img src="images/user.png"/>
      </div>
      <div class="divTitle">
        <div class="divStatic">
          <img src="images/logo.png" class="logo"/>
          <div class="divDesc">
            <div class="divName">口腔医院挂号预约平台</div>
          </div>
        </div>
        <div class="divDesc">
          简介: 口腔医院挂号预约平台。
        </div>
      </div>
      <div class="container">
        <div class="son1" v-if="flag">
          <p style="margin: 10px 0 10px 0">你还未注册信息，请完善你的信息</p>
          <el-input placeholder="请输入真实姓名" v-model="form.patientName" type="primary"></el-input>
          <el-input placeholder="请输入年龄" v-model="form.age" type="primary"></el-input>
          <el-input placeholder="请输入Email" v-model="form.email" type="primary"></el-input>
          <el-select v-model="form.sex" placeholder="请选择性别" type="primary">
            <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
            </el-option>
          </el-select>
          <el-button type="primary" round @click="saveUser">提交</el-button>
        </div>
        <div v-if="!flag">
          <div class="son">
            <el-button type="primary" round icon="el-icon-star-off" @click="toGhPage">立即挂号</el-button>
          </div>
          <div class="son">
            <el-button type="primary" round icon="el-icon-message" @click="toYyPage">立即预约</el-button>
          </div>
        </div>
      </div>

    </div>
        <!-- 开发环境版本，包含了有帮助的命令行警告 -->
        <script src="../app/plugins/vue/vue.js"></script>
        <!-- 引入组件库 -->
        <script src="../app/plugins/element-ui/index.js"></script>
        <!-- 引入vant样式 -->
        <script src="js/vant.min.js"></script>
        <!-- 引入axios -->
        <script src="../app/plugins/axios/axios.min.js"></script>
        <script src="js/request.js"></script>
        <script src="js/common.js"></script>
        <script src="api/main.js"></script>
  </body>
  <script>
      new Vue({
          el:'#main',
          data(){
            return {
              form:{
                age:'',
                email:'',
                patientName:'',
                sex:''
              },
              options:[{label:'男',value:'1'},{label:'女',value: '0'}],
              flag: true
            }
          },
          created(){
          },
          mounted(){
          },
          methods:{
            async saveUser() {
              const res =  await save(this.form)
              if(res.code === 0){
                this.$message({message: '保存成功', type: 'success'})
                this.flag = false
              } else {
                this.$message.error(res.msg)
              }
            },

            toGhPage(){
              sessionStorage.setItem("flg","0");
              window.requestAnimationFrame(()=>{
                window.location.href= 'page/gh.html'
              })
            },
            toYyPage(){
              sessionStorage.setItem("flg","0");
              window.requestAnimationFrame(()=>{
                window.location.href= 'page/yy.html'
              })
            }
          }
      })
  </script>
  </html>
