<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
    <title>口腔医院挂号预约平台</title>
    <link rel="icon" href="../images/favico.ico">
    <!--不同屏幕尺寸根字体设置-->
    <script src="../js/base.js"></script>
    <!--element-ui的样式-->
    <link rel="stylesheet" href="../plugins/element-ui/index.css" />
    <!--引入vant样式-->
    <link rel="stylesheet" href="../styles/vant.min.css"/>
    <!-- 引入样式  -->
    <link rel="stylesheet" href="../styles/index.css" />
    <!--本页面内容的样式-->
    <link rel="stylesheet" href="../styles/main.css" />
</head>
<style>
    /* 父容器样式 */
    .container{
        margin:70px auto; width:200px; height:150px;
    }
    /* 子容器样式 */
    .son{
        margin:0 auto;height: 80px;
    }
    .son button{
        margin-left: 40px;margin-top: 10px;
    }
</style>
<body>
<div id="main" class="app">
    <div class="divHead">
        <img src="../images/user.png"/>
    </div>
    <div class="divTitle">
        <div class="divStatic">
            <img src="../images/logo.png" class="logo"/>
            <div class="divDesc">
                <div class="divName">口腔医院挂号预约平台</div>
            </div>
        </div>
        <div class="divDesc">189e93
            简介: 口腔医院挂号预约平台。e8f7f6
        </div>
    </div>
    <div class="container">
        <div class="son">
            <el-select v-model="form.deptId" placeholder="请选择预约科室" type="primary">
                <el-option
                        v-for="item in deptList"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
        </div>
        <div class="son">
            <el-select v-model="form.docId" placeholder="请选择预约医生" type="primary">
                <el-option
                        v-for="item in docList"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
        </div>
        <div class="son">
            <div class="block">
                <el-date-picker v-model="form.bookingTime" type="datetime" placeholder="选择日期时间"></el-date-picker>
            </div>
        </div>
        <div class="son">
            <el-input placeholder="请输入真实姓名" v-model="form.patientName"  maxlength='20'></el-input>
        </div>
        <div class="son">
            <el-button type="primary" round @click="saveInfo">立即提交</el-button>
        </div>
    </div>

</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../plugins/element-ui/index.js"></script>
<!-- 引入vant样式 -->
<script src="../js/vant.min.js"></script>
<!-- 引入axios -->
<script src="../plugins/axios/axios.min.js"></script>
<script src="../js/request.js"></script>
<script src="../js/common.js"></script>
<script src="../api/main.js"></script>
</body>
<script>
    new Vue({
        el:'#main',
        data(){
            return {
                form:{
                    patientId:'',
                    patientName:'',
                    deptId:'',
                    docId:'',
                    bookingTime:''
                },
                deptList:[],
                docList:[],

            }
        },
        created(){
            let id = sessionStorage.getItem("id")
            this.form.patientId = id
            if(id === '0' || id === null){
                this.$notify({ type:'warning', message:'还没登录请登录后再访问'});
                window.location.href= 'page/login.html'
            }
            this.check()
            this.getDeptList()
        },
        mounted(){
        },
        methods:{
            async check(){
                const res = await getYyInfo(this.form.patientId)
                console.log(res)
                if(res.code === 200){
                    this.$notify({message: res.msg, type: 'success'})
                    sessionStorage.setItem("id",this.form.patientId)
                    window.location.href= '../index.html'
                }
            },
            //保持预约信息
            async saveInfo(){
                const res = await saveYy(this.form)
                if(res.code === 0){
                    console.log(res)
                }
            },
            //获取科室列表
            async getDeptList () {
                const res = await getDeptList()
                if (res && res.code === 0){
                    let deptMap = {}
                    deptMap = {
                        'label': res.list[i].deptName,
                        'value': res.list[i].deptId
                    }
                    this.deptList.push(deptMap)
                } else {
                    this.$message({ message: res.msg })
                }
            },
            //获取医生列表
            async getDocList () {
                const res = await getDocList()
                if (res && res.code === 0){
                    let docMap = {}
                    docMap = {
                        'label': res.list[i].docName,
                        'value': res.list[i].userId
                    }
                    this.docList.push(docMap)
                } else {
                    this.$message({ message: res.msg })
                }
            }
        }
    })
</script>
</html>
